@model IEnumerable<Item>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h1 class="text-center">
    <i class="fas fa-comments-dollar text-success"></i>
    Items
</h1>

<div id="listOfCustomers"/>
<table class="table table-borderless table-hover rounded box-shadow shadow">
    <thead class="thead-light">
    <tr class="shadow-sm box-shadow " id="listOfCustomers">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div id="UpdateBlock">
                    <a asp-controller="Items" asp-action="Show" asp-route-id="@item.ID">
                        @Html.DisplayName(item.Name)
                    </a>

                    @* <a href="getChildren/(@item.ID)" class="click" data-url="@Url.Action("Show", new { id = item.ID })"> *@
                    @*     @Html.DisplayName(item.Name) *@
                    @* </a> *@

                    <div id="details">

                    </div>
                </div>
            </td>
            <td>
                @{ await Html.RenderPartialAsync("_DropDownWithButtons", item.ID); }
            </td>
        </tr>
    }

    @* <script type="text/javascript"> *@
    @*         $(document).on("click", "#UpdateBlock", function () { *@
    @*                 var url = "/Items/Show"; *@
    @*                 $.get(url, function (data) { *@
    @*                     $("#content").html(data); *@
    @*                 }); *@
    @*          }); *@
    @* </script> *@
    <script>
            function getChildren(id) {
                var url = "/Items/Show/";
                $.post(url, { id: id })
                 .done(function (response) {
                        $("#details").html(response);
                })}
    </script>
    </tbody>
</table>

@* <script> *@
@*     $(document).ready(function () {  *@
@*         $.ajax({ *@
@*             url: '/Items/Show', *@
@*             type: 'POST', *@
@*             async: false, *@
@*             data: { ModelField: value}, *@
@*             success: function (result) { *@
@*                 $("#your_desired_div_id").html(result); *@
@*             } *@
@*         }); *@
@*     }); *@
@* </script> *@
