@model IEnumerable<Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <table class="table table-borderless table-hover rounded box-shadow shadow">
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Items" asp-action="Show" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a onclick="showInPopup('@Url.Action("Create", "Items", new { id = item.ID }, Context.Request.Scheme)')
                                    "class="dropdown-item" type="button">
                                Добавить
                            </a>
                            <a onclick="showInPopup('@Url.Action("Update", "Items", new { id = item.ID }, Context.Request.Scheme)')"
                               class="dropdown-item" type="button">
                                Редактировать
                            </a>
                            <form asp-action="Delete" asp-route-id="@item.ID" onsubmit="return jQueryAjaxDelete(this)"
                                  class="d-inline">
                                <input type="submit" value="Удалить" class="dropdown-item"/>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</head>
<body>
<div>
      
</div>
</body>
</html>